.wp-block-lipps-lipps-business-day-block {
    width: 312px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

    .wp-block-lipps-lipps-business-day-block input[name="business-day"] {
          display: none;
    }

    .wp-block-lipps-lipps-business-day-block .business-day-container {
          position: relative;
          text-align: center;
          -webkit-transition: -webkit-transform 0.6s;
          transition: -webkit-transform 0.6s;
          transition: transform 0.6s;
          transition: transform 0.6s, -webkit-transform 0.6s;
          padding: 0 30px;

    }

    .wp-block-lipps-lipps-business-day-block .business-day-container section {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
                -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
          }

    .wp-block-lipps-lipps-business-day-block .arrow,
    .wp-block-lipps-lipps-business-day-block .arrow label,
    .wp-block-lipps-lipps-business-day-block .arrow .calendar-icon {
          position: absolute;
    }

    .wp-block-lipps-lipps-business-day-block .arrow {
          top: 0;
          margin: 0;
          -webkit-transition: background 0.3s;
          transition: background 0.3s;
    }

    .wp-block-lipps-lipps-business-day-block .arrow.previous {
               left: 0;
               right: auto;
          }

    .wp-block-lipps-lipps-business-day-block .arrow.previous .calendar-icon {
                     left: 30%;
                     border-left: 3px solid #8c8c8c;
                     -webkit-transform: rotate(-45deg);
                     transform: rotate(-45deg);
                     -webkit-transition: left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s;
                     transition: left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s;
               }

    .wp-block-lipps-lipps-business-day-block .arrow.next {
               left: auto;
               right: 0;
          }

    .wp-block-lipps-lipps-business-day-block .arrow.next .calendar-icon {
                     right: 30%;
                     border-right: 3px solid #8c8c8c;
                     -webkit-transform: rotate(45deg);
                     transform: rotate(45deg);
                     -webkit-transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s;
                     transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s;
               }

    .wp-block-lipps-lipps-business-day-block .arrow,
    .wp-block-lipps-lipps-business-day-block .arrow label {
          cursor: pointer;
          width: 30px;
          height: 100%;
    }

    .wp-block-lipps-lipps-business-day-block .arrow label {
          top: 0;
          left: 0;
          z-index: 1;
          pointer-events: none;
    }

    .wp-block-lipps-lipps-business-day-block .arrow .calendar-icon {
          top: 120px;
          width: 12px;
          height: 12px;
          border-top: 3px solid #8c8c8c;
    }

#calendar-this-month:checked ~ .business-day-container #calendar1,
#calendar-next-month:checked ~ .business-day-container #calendar2 {
    position: relative;
    -webkit-transform: none;
    transform: none;
}

#calendar-next-month:checked ~ .business-day-container #calendar1 {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

#calendar-this-month:checked ~ .arrow.next label[for="calendar-next-month"],
#calendar-next-month:checked ~ .arrow.previous label[for="calendar-this-month"] {
    pointer-events: auto;
}

#calendar-this-month:checked ~ .arrow.previous,
#calendar-next-month:checked ~ .arrow.next{
    cursor: default;
    display: none;
}

/* calendar */

.wp-block-lipps-lipps-business-day-block .monthly-calendar {
          text-align: center;
          border-collapse: collapse;
          letter-spacing: 1px;
          font-size: 14px;
          line-height: 20px;
    }

.wp-block-lipps-lipps-business-day-block .monthly-calendar table {
                border: 0;
          }

.wp-block-lipps-lipps-business-day-block .monthly-calendar table id {
                      padding: 5px 50px;
                }

.wp-block-lipps-lipps-business-day-block .monthly-calendar .calendar-caption {
                width: 100%;
                line-height: 30px;
                font-size: 18px;
          }

.wp-block-lipps-lipps-business-day-block .monthly-calendar .calendar-caption.bottom {
                     caption-side: bottom;
                }

.wp-block-lipps-lipps-business-day-block .monthly-calendar th, .wp-block-lipps-lipps-business-day-block .monthly-calendar td {
                border: 1px solid #4f4f4f;
                border-collapse: separate;
                border-spacing: 10px;
                padding: 5px 8px;
          }

.wp-block-lipps-lipps-business-day-block .monthly-calendar td:empty {
                background: #f5f5f5;
          }

.wp-block-lipps-lipps-business-day-block .monthly-calendar th:nth-of-type(1) {
                color: #FF0000;
          }

.wp-block-lipps-lipps-business-day-block .monthly-calendar th:nth-of-type(7) {
                color: #0000FF;
          }

.wp-block-lipps-lipps-business-day-block .monthly-calendar td:nth-of-type(1) {
                color: #FF0000;
          }

.wp-block-lipps-lipps-business-day-block .monthly-calendar td:nth-of-type(7) {
                color: #0000FF;
          }

.wp-block-lipps-lipps-business-day-block .monthly-calendar .holiday {
                background: #c4c4c4;
          }

@media (max-width: 376px) {
    .wp-block-lipps-lipps-business-day-block {
       /* margin: 0 -32px;*/
    }
}






